
        .frame-75 {
            
        position: absolute;
        width: 393px;
        height: 852px;
        left: -1.1368683772161603e-13px;
        top: 0px;
    
            
            background-color: rgba(250, 250, 250, 1);
            border-radius: 32px;
            
            

        }
    
        .home-indicator-110 {
            
        position: absolute;
        width: 393px;
        height: 21px;
        left: -1.1368683772161603e-13px;
        top: 831px;
    
            
            
            
            
            

        }
    
        .home-indicator-111 {
            background: rgb(44, 25, 77);
            border-radius: 100px;
            width: 139px;
            height: 5px;
            left: 127px;
            top: 839px;
            display: flex;
            position: absolute;
        }
    
        .headline-112 {
            font-family: Inter;
        font-size: 48px;
        font-weight: 700;
        line-height: 57.60000228881836px;
        letter-spacing: -0.96px;
        text-align: left;
            color: rgba(54, 51, 65, 1);
            
        position: absolute;
        width: 154px;
        height: 58px;
        left: 32px;
        top: 170px;
    
            white-space: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .frame-1321318736-114 {
            
        position: absolute;
        width: 329px;
        height: 117px;
        left: 32px;
        top: 252px;
    
            
            
            
            
            

        }
    
        .frame-1321318734-115 {
            
        position: absolute;
        width: 329px;
        height: 58px;
        left: 32px;
        top: 252px;
    
            border: 1px solid rgba(215, 215, 215, 1);
            
            border-radius: 8px 8px 0px 0px;
            border-bottom: none;
            

        }
    
        .headline-116 {
            font-family: Inter;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.3px;
        text-align: left;
            color: rgba(54, 51, 65, 1);
            
        position: absolute;
        width: 120px;
        height: 18px;
        left: 48px;
        top: 272px;
    
            white-space: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .frame-1321318735-117 {
            
        position: absolute;
        width: 329px;
        height: 59px;
        left: 32px;
        top: 310px;
    
            border: 1px solid rgba(215, 215, 215, 1);
            
            border-radius: 0px 0px 8px 8px;
            
            

        }
    
        .headline-118 {
            font-family: Inter;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.3px;
        text-align: left;
            color: rgba(192, 192, 192, 1);
            
        position: absolute;
        width: 69px;
        height: 18px;
        left: 48px;
        top: 330.5px;
    
            white-space: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .frame-120 {
            
        position: absolute;
        width: 361px;
        height: 46px;
        left: 16px;
        top: 662px;
    
            
            background: linear-gradient(249.4287359211733deg, rgba(149, 34, 140, 1) 0%, rgba(58, 60, 179, 1) 100%);
            border-radius: 62px;
            
            

        }
    
        .label-text-123 {
            font-family: Inter;
        font-size: 15px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: -0.15px;
        text-align: center;
            color: rgba(255, 255, 255, 1);
            
        position: absolute;
        width: 49px;
        height: 22px;
        left: 172px;
        top: 674px;
    
            white-space: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .frame-125 {
            
        position: absolute;
        width: 361px;
        height: 46px;
        left: 16px;
        top: 720px;
    
            
            background-color: rgba(225, 224, 230, 1);
            border-radius: 62px;
            
            

        }
    
        .label-text-126 {
            font-family: Inter;
        font-size: 15px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: -0.15px;
        text-align: center;
            color: rgba(54, 51, 65, 1);
            
        position: absolute;
        width: 110px;
        height: 22px;
        left: 141.5px;
        top: 732px;
    
            white-space: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .headline-127 {
            font-family: Inter;
        font-size: 13px;
        font-weight: 500;
        line-height: 15.600000381469727px;
        letter-spacing: -0.26px;
        text-align: center;
            color: rgba(54, 51, 65, 1);
            
        position: absolute;
        width: 361px;
        height: 37px;
        left: 16px;
        top: 778px;
    
            white-space: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    